.header {
    height: 60px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-dark-5);
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: var(--mantine-color-white);
    font-weight: 500;
    font-size: var(--mantine-font-size-md);

    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
    }

    @mixin hover {
        background-color: var(--mantine-color-dark-6);
        color: var(--mantine-color-pumpGreen-4);
    }
}
