.wrapper {
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.dots {
    position: absolute;
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-4));
    opacity: 0.5;

    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: -2px;
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    font-family: var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 42px;
        text-align: left;
    }
}

.highlight {
    color: var(--mantine-color-pumpGreen-3);
}

.description {
    text-align: center;
    font-size: 24px;
    color: var(--mantine-color-gray-4);

    @media (max-width: $mantine-breakpoint-xs) {
        text-align: left;
        font-size: var(--mantine-font-size-md);
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 2);
    display: flex;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    padding-left: 32px;
    padding-right: 32px;
    
    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        height: 42px;
        font-size: var(--mantine-font-size-md);

        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}
