.wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
