.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--mantine-spacing-md);
}

.card {
    max-width: 480px;
    width: 100%;
    border-radius: var(--mantine-radius-xl);
    overflow: hidden;
    border: 1px solid light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-4));
}

.header {
    padding: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xs);
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--mantine-spacing-xl);
}

.chartContainer {
    height: 288px; /* 72 * 4 */
    width: 100%;
    padding-right: var(--mantine-spacing-sm);
}

.legend {
    padding: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xs);
}

.legendButton {
    transition: all 200ms ease;
}

.legendButton[data-active='false'] {
    opacity: 0.4;
}

.legendIcon {
    color: var(--mantine-color-black);
}

.bottomNav {
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-xs);
}

.tooltip {
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-sm);
}

.tooltipLabel {
    margin-bottom: var(--mantine-spacing-xs);
}

.tooltipItem {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-xs);
    margin-bottom: 2px;
}

.tooltipColor {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.tooltipName {
    width: 96px;
}
