.chartTitle {
  color: var(--mantine-color-white);
  font-weight: 700;
}

.chartContainer {
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-lg);
  border: 1px solid var(--mantine-color-dark-4);
  margin-bottom: var(--mantine-spacing-xl);
}

@media (max-width: $mantine-breakpoint-sm) {
  .chartContainer {
    padding: var(--mantine-spacing-xs);
  }
}

